/IT13A_SIMPANA/nbproject/private/
/IT13A_SIMPANA/build/
/IT13A_SIMPANA/JavaApplication2/nbproject/private/
/IT13A_SIMPANA/src/Prelim/Lab2_Act2/nbproject/private/
/IT13A_SIMPANA/src/Prelim/Lab2_Act2/build/
